<!-- <p id="notice"><%= notice %></p> -->
<div class="banner">
  <div class="wrapper">
    <h1>Rate This Week's Podcasts</h1>
  </div>
</div>

<section class="rating-page">
<%= render 'navbar_rating' %>

<div class="container">
  
<div class="user-label"></div>
  <table>
    <thead>
      <tr>
        <th>User Ratings</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @rate_podcasts.each do |rate_podcast| %>
        <tr>
          <td><%= rate_podcast.name %></td>
          <td><%= rating_for rate_podcast, 'podcast', star_path: '/images/ratyrate', star: 5, disable_after_rate: true %>
          </td>
           
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
  <input type="btn btn-default" value="Rate Podcasts" onClick="history.go(0)">
  </div>

<div class="container">
  
<div class="user-label"></div>
  <table>
    <thead>
      <tr>
        <th>Our Ratings</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @rate_podcasts.each do |rate_podcast| %>
        <tr>
          <td><%= rate_podcast.name %></td>
          <td><%= rating_for rate_podcast, 'podcast', star: 5, cancel: true %>
          
          </td>
           <td><%= link_to 'Show', rate_podcast %></td>
           <td><%= link_to 'Edit', edit_rate_podcast_path(rate_podcast) %></td> 
          <td><%= link_to 'Destroy', rate_podcast, method: :delete, data: { confirm: 'Are you sure?' }%></td> 
        </tr>
      <% end %>
    </tbody>
  </table>





  <br>
  <%= link_to 'New Rate Podcast', new_rate_podcast_path %>
</div>
</section>


